  <a href="#" class="card-body text-decoration-none btn text-start mb-3 product-card">
    <img class="w-100 mb-2" [src]="product.image" [alt]="product.name">
    <p class="h4 text-primary product-title">{{product.name}}</p>
    <p class="h4 text-dark">{{product.price | currency: 'RUB '}}</p>

    <p class="text-center">
      <p-button label="{{isVisible? 'Скрыть' : 'Показать'}}" styleClass="p-button pt-1 pb-1 ps-2 pe-2"
                (click)="isVisible = !isVisible"
      ></p-button>
    </p>

    <div *ngIf="isVisible" class="mt-2">
      <p class="mb-3 text-secondary">{{product.description}}</p>
      <p  class="text-danger" >{{product.tags}}</p>
    </div>
  </a>

